.customModal .ant-modal-header {
  display: none;
}

.customModal .ant-modal-body {
  padding: 0px;
  margin: 0px;
  padding-bottom: 20px;
}

.customModal .ant-modal {
  border-radius: 5px !important;
  overflow: hidden !important;
  margin: auto;
}

.customModal #navigation > span {
  font-weight: bold;
  transform: translateY(15px);
  font-size: 34px;
}

@media only screen and (max-width: 550px) {
  .customModal #navigation > span {
    font-size: 20px;
  }
  .customModal .additional {
    font-size: 10px !important;
    padding: 10px 10px !important;
  }
  .customModal #CloseIcon {
    position: static;
    transform: translate(10px, 0px);
  }
  .customModal .nav_right {
    transform: translate(40px, 0px) !important;
  }
  .customModal .nav_right div {
    margin-right: 5px !important;
  }
  .customModal .nav_right {
    transform: translate(-5px, 0px) !important;
  }
  .customModal #navigation {
    padding: 10px !important;
  }
  .customModal #catagories {
    margin: 20px 12px !important;
  }
  .customModal #catagories > * {
    margin-right: 10px !important;
    font-size: 13px !important;
  }
  .customModal #catagories button.active {
    border: 2px solid #e0e0e0 !important;
    border-radius: 5px !important;
    padding: 8px 10px !important;
    font-size: 11px !important;
  }
  .customModal #images {
    margin: 0px 12px;
    border-radius: 5px !important;
  }
  .customModal .ant-modal-body {
    padding-bottom: 12px;
  }
}
